<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion">
    <select id="verificarCredencialesColaborador" parameterType="modelo.pojo.Colaborador" resultType="modelo.pojo.Colaborador">
        SELECT c.nombre, c.ApellidoPaterno, c.ApellidoMaterno, c.FechaNacimiento, c.Telefono, c.numeroPersonal, c.peso, c.estatura, c.correo, c.password, c.rfc, c.curp, c.idRol, r.nombre AS rol 
        FROM colaborador c
        INNER JOIN rol r ON r.idRol = c.idRol
        WHERE c.numeroPersonal = #{numeroPersonal} AND c.password = #{password}
    </select>
    <select id="verificarCredencialesColaboradorConHashMap"  resultType="modelo.pojo.Colaborador">
        SELECT c.nombre, c.ApellidoPaterno, c.ApellidoMaterno, c.FechaNacimiento, c.Telefono, numeroPersonal, c.peso, c.estatura, c.correo, c.password, c.rfc, c.curp, c.idRol, r.nombre AS rol 
        FROM colaborador c
        INNER JOIN rol r ON r.idRol = c.idRol
        WHERE c.numeroPersonal = #{numeroPersonal} AND c.password = #{password}
    </select>
    <select id="verificarCredencialesClientes"  resultType="modelo.pojo.Cliente">
        SELECT cli.idCliente, cli.nombre, cli.apellidoPaterno, cli.apellidoMaterno, cli.fechaNacimiento, cli.telefono, cli.peso, cli.estatura, cli.correo, cli.password, cli.fechaInscripcion,
        CONCAT(col.nombre, ' ', col.apellidoPaterno, ' ', col.apellidoMaterno) AS entrenador
        FROM cliente AS cli
        INNER JOIN colaborador AS col ON cli.idColaborador = col.idColaborador
        WHERE cli.correo = #{correo} AND cli.password = #{password};    
    </select>
</mapper>
